@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* ┏━╸╻  ┏━┓┏┓ ┏━┓╻     ┏━╸┏━┓┏━┓
   ┃╺┓┃  ┃ ┃┣┻┓┣━┫┃     ┃  ┗━┓┗━┓
   ┗━┛┗━╸┗━┛┗━┛╹ ╹┗━╸   ┗━╸┗━┛┗━┛ */

/* ====== for left setion buttons ========= */
.fade-text {
  font-family: 'Inter';
  color: #808191;
  border-radius: 12px;
}

.left-fixed-bax {
  width: 6rem;
}

.fade-text:hover {
  background: #353945;
  mix-blend-mode: normal;
  border-radius: 12px;
  color: #fff
}

.fade-text-selected {
  background: #353945;
  mix-blend-mode: normal;
  border-radius: 12px;
  color: #fff
}

.fade-text-light {
  font-family: 'Inter';
  color: #808191;
  border-radius: 12px;
}

.fade-text-light:hover {
  border: 1px solid #4b505e51;
  background: #d1d0d0d1;
  mix-blend-mode: normal;
  border-radius: 12px;
  color: #353945d9;
  font-weight: 600;
}

.fade-text-light-selected {
  border: 1px solid #4b505e51;
  background: #eaeaea;
  /* mix-blend-mode: normal; */
  border-radius: 12px;
  color: #353945d9;
  font-weight: 600;
}


/* any text with inter style and moderate weight */
.txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

/* style of for text on alert comes up when metamask
not installe */
.f-txt {
  font-family: 'Inter';
  color: #808191;
  border-radius: 12px;
}

.f-alert {
  font-family: 'Inter';
  color: #6a6b77;
  border-radius: 20px;
  opacity: 0.7;
  font-size: 14px;
  box-shadow: 6px 1px 43px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 6px 1px 43px -3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 6px 1px 43px -3px rgba(0, 0, 0, 0.25);
  line-height: 10px;
}

/* all icons with basic animation */
.basic-icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.basic-cards:hover {
  transform: scale(1.04);
  cursor: pointer;
}

/* these animations of the dark button
are not working!! anyway keep it for reference */
/* The animation code */
@keyframes toggleon {
  from {
    margin: 0.2rem 1.6rem auto -1.6rem;
  }

  to {
    margin: 0.2rem auto auto auto;
  }
}

/* The animation code */
@keyframes toggleoff {
  from {
    margin: 0.2rem auto auto auto;
  }

  to {
    margin: 0.2rem 1.6rem auto -1.6rem;
  }
}

.dark-btn-on {
  animation-name: toggleon;
  animation-duration: 0.5s;
  margin: 0.2rem auto auto auto;
}

.dark-btn-off {
  animation-name: toggleoff;
  animation-duration: 0.5s;
  margin: 0.2rem 1.6rem auto -1.6rem;
}

/* this inverts img on darkmode on */
.img-i {
  -webkit-filter: invert(1);
  filter: invert(1);
}

/* all reverse the arrow buttons 180 deg */
.img-r {
  rotate: 180deg;
  color: #8585855a;
}

/* left drawer shadow */
.left-drawer {
  box-shadow: 6px 1px 43px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 1px 43px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 1px 43px -3px rgba(0, 0, 0, 0.75);
}

.right-drawer {
  box-shadow: -7px 10px 59px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 10px 59px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 10px 59px 0px rgba(0, 0, 0, 0.75);
}


/* ======= Styling the scroll bars ====== */
/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #35394565;
  border-radius: 7px;
  background: #80819108;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #94959624;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #949596eb;
  width: 1rem;
}

/* buttons on the left drawer bottom ones */
.left-bottom-btn {
  width: "4.5rem";
  vertical-align: "middle";
  border: "0px";
  box-shadow: "0px 4px 4px rgba(0; 0; 0; 0.25)";
  border-radius: "10px";
  font-family: '\'Inter\'';
  font-style: 'normal';
  font-weight: '600';
  font-size: '14px';
}

.btn {
  outline: none;
}

.dark-btn {
  width: 10rem !important;
}

/* to make any text bright blue and bold */
.blue-txt {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 123% */
  text-align: center;
  letter-spacing: 0.240494px;
  /* Buffer blue  */
  color: #3772FF;
}

/* tooltips */
.tooltip {
  z-index: 100000 !important;
}

/* show title below element */
.show-title::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #3772FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-top: 1.3rem;
  position: absolute;
}

@media (max-width: 300px) {
  .ex-small {
    display: none !important;
  }
}

@media (max-width: 230px) {
  .ul-small {
    display: none !important;
  }
}