/* ╻ ╻┏━┓┏┳┓┏━╸   ┏━╸┏━┓┏━┓  
   ┣━┫┃ ┃┃┃┃┣╸    ┃  ┗━┓┗━┓  
   ╹ ╹┗━┛╹ ╹┗━╸   ┗━╸┗━┛┗━┛ */

.edit-list-card {
  mix-blend-mode: normal;
  border-radius: 12px;
  min-height: 4rem;
  vertical-align: middle;
  padding-top: 1.3rem;
  position: relative;
}

.edit-list-input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: inherit;
  border: 0px;
  resize: none;
  letter-spacing: 1px;
  outline: none;
}

.show-todos {
  position: relative;
}

@media (min-width: 768px) {
  .show-todos::after {
    content: '';
    height: 80%;
    width: 5px;
    background: #0008ffca;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-right: 16.2rem;
    position: absolute;
    right: 0;
    top: 0.8rem;
  }
}